<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Acerca de </h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Loja es una ciudad del sur de Ecuador, conocida como la capital cultural del país por su escena musical. En el centro de la ciudad, el Museo de Música exhibe instrumentos y partituras originales.</p>
      </div>
      <div class="col-lg-4">
        <p>Cerca está la Plaza de la Independencia, bordeada de edificios coloniales y balcones de madera. En la base de la alta torre del reloj, en medio de la plaza, hay bajorrelieves que ilustran episodios importantes de la historia de Loja.! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
